# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# OS/editor files
.DS_Store
Thumbs.db

# Node / build artifacts
node_modules/
dist/
.vite/
*.pem